// Extended by view modes and used by user in WYSIWYG.
.read-more {
  font-family: $nunito-sans-bold;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  color: $cta-link-color;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  // Layout.
  margin-top: 40px;
  // Arrow.
  padding-left: 20px;
  background: image-url('icons/cta-arrow.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 8px auto;
}
