// Content styles available only in Wysiwyg.

.text-red {
  color: $color-primary-active
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
