.postscript {
  @include anti-aliasing();
  background: $color-primary;
  color: $color-primary-contrast;
  padding: 3em 0;

  .region-postscript {
    padding: 0 $zen-gutter-width/2;
    @include bp-nq($medium) {
      padding: 0 $zen-gutter-width;
    }
  }

  .menu-name-main-menu {
    // All.
    ul {
      li {
        a {
          color: $color-primary-contrast;
          display: block;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    // First level.
    & > ul {
      -js-display: flex;
      display: flex;
      flex-wrap: wrap;
    }

    & > ul > li {
      flex-basis: auto;
      flex-grow: 1;
      margin-bottom: rhythm(2.5);
      width: 100%;

      @include bp-nq($small) {
        width: calc(100/2 * 1%);
      }

      @include bp-nq($medium) {
        width: calc(100/3 * 1%);
      }

      @include bp-nq($large) {
        width: calc(100/6 * 1%);
      }

      & > a {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: rhythm(1.5);
        text-transform: uppercase;
      }
    }
    // Second level.
    & > ul > li > ul > li {

      & > a {
        padding: 0.4em 0;
      }
    }
  }
}
